<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some title</title>
</head>
<body>

{% if students %}
    <!--<ul>-->
    {% for std in students %}
        <!--<li><a href="/polls/{{ student.skills.all }}/">{{ student.user }} {{ student.group }}</a></li>-->
        <br>
        <h3><a href="{% url 'show_skills' user=std.user%}">{{ std.user }}</a></h3>
        {{ std.group }}
    {% endfor %}
    <!--</ul>-->
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>