<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some title</title>
</head>
<body>

{% if students %}
    <ul>
    {% for student in students %}
        <li><a href="/polls/{{ student.skills.first }}/">{{ student.user }} {{ student.group }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<form class="form-inline">
			<p align = center>
	    		<button type="submit" formaction="{% url 'home' %}">Push me<br>and then just touch me</button>
	    	</p>
</form>
</body>
</html>